{% extends 'main/base.html' %}
{% load common_tags %}
{% load i18n %}
{% block extrastyle %}
    <style type="text/css">
        .sub-index {
            vertical-align: sub;
        }
    </style>
{% endblock extrastyle %}
{% block title %}{% trans 'Report' %}{% endblock %}
{% block container %}
    <div class="page-header">
        <h1>{% trans 'Found' %} {{ length }} {% trans 'measurements' %} | {{ variable.name }}</h1>
    </div>
    <div>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a href="#frequency_table" data-toggle="tab">{% trans 'Frequency Tables' %}</a>
            </li>
            <li>
                <a href="#charts" data-toggle="tab">{% trans 'Charts' %}</a>
            </li>
            <!--<li>
                <a href="#statistics" data-toggle="tab">{% trans 'Statistics' %}</a>
            </li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="frequency_table">
                <h3>{% trans 'Real Values' %}</h3>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "#" %}</th>
                            <th>{% trans 'Interval' %}</th>
                            <th>{% trans 'Pipes' %}</th>
                            <th>{% trans 'Class Marker' %}</th>
                            <th>f<span class="sub-index">i</span></th>
                            <th>F<span class="sub-index">i</span></th>
                            <th>h<span class="sub-index">i</span></th>
                            <th>H<span class="sub-index">i</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for interval in real_data.intervals %}
                        <tr>
                            <td>{{ interval.index }}</td>
                            {% if interval.index == 1 %}
                                <td>[{{ interval.min }} : {{ interval.max }}]</td>
                            {% else %}
                                <td>&lt;{{ interval.min }} : {{ interval.max }}]</td>
                            {% endif %}
                            <td>
                            {{ interval.values|to_pipes }}
                            </td>
                            <td>{{ interval.class_marker|stringformat:'f' }}</td>
                            <td>{{ interval.fi}}</td>
                            <td>{{ interval.Fi }}</td>
                            <td>{{ interval.hi }}</td>
                            <td>{{ interval.Hi }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <h3>{% trans 'Simulate Values' %}</h3>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "#" %}</th>
                            <th>{% trans 'Interval' %}</th>
                            <!--<th>{% trans 'Pipes' %}</th>-->
                            <th>{% trans 'Class Marker' %}</th>
                            <th>f<span class="sub-index">i</span></th>
                            <th>F<span class="sub-index">i</span></th>
                            <th>h<span class="sub-index">i</span></th>
                            <th>H<span class="sub-index">i</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for interval in simulate_data.intervals %}
                        <tr>
                            <td>{{ interval.index }}</td>
                            {% if interval.index == 1 %}
                                <td>[{{ interval.min }} : {{ interval.max }}]</td>
                            {% else %}
                                <td>&lt;{{ interval.min }} : {{ interval.max }}]</td>
                            {% endif %}
                           <!--<td>
                            {{ interval.values|to_pipes }}
                            </td>-->
                            <td>{{ interval.class_marker|stringformat:'f' }}</td>
                            <td>{{ interval.fi}}</td>
                            <td>{{ interval.Fi }}</td>
                            <td>{{ interval.hi }}</td>
                            <td>{{ interval.Hi }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="chart-real-values" style="width: 900px; height: 500px;"></div>
                <div id="chart-simulated-values" style="width: 900px; height: 500px;"></div>
                <div id="chart-statistics-2" style="width: 900px; height: 500px;"></div>
                <div id="chart-statistics" style="width: 900px; height: 500px;"></div>
                <div id="chart-deciles-statistics" style="width: 900px; height: 500px;"></div>
                <div id="chart-percentiles-statistics" style="width: 900px; height: 500px;"></div>
            </div>
            <div id="charts" class="tab-pane">
            </div>
            <!--<li><div id="statistics" class="tab-pane">
                <p>{% trans 'Average' %} {{ data.average }}</p>
                <p>{% trans 'Median' %} {{ data.median }}</p>
                <p>{% trans 'Mode' %} {{ data.mode }}</p>
            </div>-->
        </div>
    </div>
    <!--
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans 'Station' %}</th>
                <th>{% trans 'Value' %}</th>
                <th>{% trans 'Date' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.station }}</td>
                <td>{{ measurement.value }}</td>
                <td>{{ measurement.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
-->
{% endblock container %}
{% block bottom_script %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Statistics', 'Real', 'Simulated'],
                ['Average',  {{ real_data.average }}, {{ simulate_data.average }}],
                ['Median', {{ real_data.median }}, {{ simulate_data.median }}],
                ['Mode',  {{ real_data.mode }}, {{ simulate_data.mode }}],
                ['Q1', {{ real_data.q1 }}, {{ simulate_data.q1 }}],
                ['Q2', {{ real_data.q2 }}, {{ simulate_data.q2 }}],
                ['Q3', {{ real_data.q3 }}, {{ simulate_data.q3 }}],
            ]);

            var data_2 = google.visualization.arrayToDataTable([
                ['Stadistics 2', 'Real', 'Simulated'],
                ['Variance', {{ real_data.variance }}, {{ simulate_data.variance }}],
                ['Standard Deviation', {{ real_data.standard_deviation }}, {{ simulate_data.standard_deviation }}],
                ['Asymmetry Coefficient', {{ real_data.asymmetry_coefficient }}, {{ simulate_data.asymmetry_coefficient }}],
                ['Inter Quartile Deviation', {{ real_data.inter_quartile_deviation }}, {{ simulate_data.inter_quartile_deviation }}],
            ]);

            var data_deciles = google.visualization.arrayToDataTable([
                ['Deciles', 'Real', 'Simulated'],
                ['D1', {{ real_data.d1 }}, {{ simulate_data.d1 }}],
                ['D2', {{ real_data.d2 }}, {{ simulate_data.d2 }}],
                ['D3', {{ real_data.d3 }}, {{ simulate_data.d3 }}],
                ['D4', {{ real_data.d4 }}, {{ simulate_data.d4 }}],
                ['D5', {{ real_data.d5 }}, {{ simulate_data.d5 }}],
                ['D6', {{ real_data.d6 }}, {{ simulate_data.d6 }}],
                ['D7', {{ real_data.d7 }}, {{ simulate_data.d7 }}],
                ['D8', {{ real_data.d8 }}, {{ simulate_data.d8 }}],
                ['D9', {{ real_data.d9 }}, {{ simulate_data.d9 }}],
            ]);

            var data_percentiles = google.visualization.arrayToDataTable([
                ['Percentiles', 'Real', 'Simulated'],
                ['P1', {{ real_data.p1 }}, {{ simulate_data.p1 }}],
                ['P2', {{ real_data.p2 }}, {{ simulate_data.p2 }}],
                ['P3', {{ real_data.p3 }}, {{ simulate_data.p3 }}],
                ['P4', {{ real_data.p4 }}, {{ simulate_data.p4 }}],
                ['P5', {{ real_data.p5 }}, {{ simulate_data.p5 }}],
                ['P6', {{ real_data.p6 }}, {{ simulate_data.p6 }}],
                ['P7', {{ real_data.p7 }}, {{ simulate_data.p7 }}],
                ['P8', {{ real_data.p8 }}, {{ simulate_data.p8 }}],
                ['P9', {{ real_data.p9 }}, {{ simulate_data.p9 }}],
                ['P10', {{ real_data.p10 }}, {{ simulate_data.p10 }}],
            ]);

            var data_real_values = google.visualization.arrayToDataTable([
                ['Class Marker', 'Real'],
                {% for interval in real_data.intervals %}
                    ['{{ interval.index }}',  {{ interval.fi }}],
                {% endfor %}
            ]);

            var data_simulated_values = google.visualization.arrayToDataTable([
                ['Class Marker', 'Simulated'],
                {% for interval in simulate_data.intervals %}
                    ['{{ interval.index }}',  {{ interval.fi }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Stadistics Comparation',
                hAxis: {title: 'Stadistics', titleTextStyle: {color: 'red'}},
            };

            var options_2 = {
                title: 'Stadistics Comparation 2',
                hAxis: {title: 'Stadistics', titleTextStyle: {color: 'red'}},
            };

            var options_deciles = {
                title: 'Deciles Comparation',
                hAxis: {title: 'Stadistics', titleTextStyle: {color: 'red'}},
            };

            var options_percentiles = {
                title: 'Percentiles Comparation',
                hAxis: {title: 'Stadistics', titleTextStyle: {color: 'red'}},
            };

            var options_real_values = {
                title: 'Real Values',
                hAxis: {title: 'Fi', titleTextStyle: {color: 'red'}},
            };

            var options_simulated_values = {
                title: 'Simulated Values',
                hAxis: {title: 'Fi', titleTextStyle: {color: 'green'}},
                colors: ['green']
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart-statistics'));
            chart.draw(data, options);
            var chart_2 = new google.visualization.ColumnChart(document.getElementById('chart-statistics-2'));
            chart_2.draw(data_2, options_2);
            var chart_deciles = new google.visualization.ColumnChart(document.getElementById('chart-deciles-statistics'));
            chart_deciles.draw(data_deciles, options_deciles);
            var chart_percentiles = new google.visualization.ColumnChart(document.getElementById('chart-percentiles-statistics'));
            chart_percentiles.draw(data_percentiles, options_percentiles);
            var chart_real_values = new google.visualization.ColumnChart(document.getElementById('chart-real-values'));
            chart_real_values.draw(data_real_values, options_real_values);
            var chart_simulated_values = new google.visualization.ColumnChart(document.getElementById('chart-simulated-values'));
            chart_simulated_values.draw(data_simulated_values, options_simulated_values);
        }
    </script>
{% endblock bottom_script %}
