{% extends 'admin/base.html' %}
{% load i18n %}
{% block title %}{% trans 'User Edit' %}{% endblock title %}
{% block container %}
    <div class="page-header">
        <div class="tools">
        <a href="{% url 'admin_user_delete' custom_user.id %}" class="btn btn-danger pull-right">
        <i class="icon-remove icon-white"></i> {% trans 'Delete this user' %}</a>
        </div>
        <h2>{% trans 'User' %} &raquo {{ user.get_full_name }}</h2>
    </div>
    {% load crispy_forms_tags %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{% trans 'Save changes' %}" />
            <a type="button" class="btn" href="{% url 'admin_user_list' %}">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock container %}